doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/foundation/css/foundation.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
