doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/foundation/css/foundation.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .row
      .nav-bar.right
        ul.button-group
          li
            a.button(href="/") Home
          li
            a.button(href="/businesses") View all
          li
            a.button(href="/businesses/add") Add Listing
      h1 BizList
      hr
      != messages()
      ul.errors
        if errors
          each error, i in errors
            li.alert-box.alert #{error.msg}
      block content
