<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/javascripts/kickstart.js"></script> <!-- KICKSTART -->
    <link rel='stylesheet' href='/stylesheets/kickstart.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul class="menu">
      <li class="current"><a href="/">INSTAPICS</a></li>
      <li><a href="/main">Main Feed</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
