<form method="post" action="/store/add">
  <div>
    <label>Store ID: </label>
    <input type="text" name="id" id="input-id">
  </div>
  <br>
  <div>
    <label>Location: </label>
    <input type="text" name="location" id="input-loc">
  </div>
  <button type="submit" id="submit">Submit</button>
</form>
