<% include ../views/partials/header %>
  <div class="grid">
    <h1><%= title %></h1>
    <p>Please login with Instagram</p>
    <a href="/login" class="button">Login With Instagram</a>
  </div>
  <% include ../views/partials/footer %>
